.profileAndSearchContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1rem;
  align-items: center;
}
.profileAndSearchContainer div input {
  height: 2rem;
  outline: none;
  border: none;
  width: 80%;
  padding: 1.5rem;
  border-radius: 1rem;
}
.homeContainer {
  background-color: rgb(9, 9, 44);
  min-height: 100vh;
}
h1 a {
  text-decoration: none;
  color: white;
}
.items {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.items button {
  display: flex;
  padding: 0.5rem;
  font-weight: 500;
}
.categories h1 {
  color: white;
  padding: 0.5rem;
}
.postsContainer {
  /* background-color: whitesmoke; */
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: auto auto auto;
}
.eachPost {
  padding: 1rem;
  background-color: whitesmoke;
  /* color: white; */
  /* border: 2px solid green; */
  border-radius: 1rem;
}
.postDropdown {
  display: flex;
  justify-content: flex-end;
}
.rateRequest {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
}
